body {
    margin: 0;
    color: white;
    font-family: "Courier New";
}
.header {
    width: 100%;
    height: 900px;
    background-color: yellow;
    background-image: radial-gradient(circle 500px at center, rgb(75, 75, 75) 0%, rgb(58, 58, 58));
}


.dropdown-link{
    text-align: left;
}

.dropdown-text {
    color: rgb(34, 34, 34) !important;
    cursor: default;
    text-align: center;
  }

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.logo {
    color: orange;
    font-family: "Courier New";
    font-size: 40px;
    line-height: 1;
}

.logo span {
    color: yellow;
}

.nav {
margin: 0;
padding: 0;
list-style: none;
display: flex;
flex-direction: row;
}


.nav_item:hover {
    background: white;
    color: black;
}

.nav_item:last-child {
    margin-right: 5px;
}

.nav_link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.nav_link:hover {
    color: black;
}

.dropdown-trigger:hover {
background: white;
color: black;
}

.header-content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.header-desc {
 width: 500px;
 padding-top: 150px;
 padding-left: 15px;
}

.header_title {
color: white;
font-weight: 800;
font-size: 43px;
line-height: 1.3;
margin: 0;
margin-bottom: 35px;
}

.header_text {
font-size: 19px;
line-height: 1.7;
font-weight: 500;
margin-bottom: 35px;
}

.header-photo {
    width: 700px;
}

.vs {
color: white;
padding-left: 15px;
}

.vs a {
    text-decoration: none;
    color: yellow;
}

.vs a:hover {
    text-decoration: underline;
}

.footer{
    width: 100%;
    height: 114px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;


}

.footer::before {
    content: "";
    display: table;

}

.footer a {
color: aqua;
text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}